@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  border-radius: 10px;
  max-width: 50%;
  margin-right: 50px;
  height: auto;
  object-fit: contain;
}

.nasa-photo h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.app-title {
  text-align: center;
  margin-top: 20px
   
}


